[submodule "platforms/darwin/home/programs/hammerspoon/.hammerspoon/stackline"]
	path = platforms/darwin/home/programs/hammerspoon/.hammerspoon/stackline
	url = https://github.com/yevhenshymotiuk/stackline
