/* #TabsToolbar { */
/*     padding-top: 4px !important; */
/* } */

/*
 *  Hide window controls
 */
.titlebar-buttonbox-container {
  display: none !important;
}

.titlebar-placeholder,
#TabsToolbar .titlebar-spacer {
  display: none;
}
#navigator-toolbox::after {
  display: none !important;
}

/*
 *  Minimal theme
 */
#navigator-toolbox #urlbar-container {
    padding: 0 !important;
    margin: 0 !important;
}

#navigator-toolbox #urlbar {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

#navigator-toolbox #PanelUI-button {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

#navigator-toolbox #nav-bar {
    box-shadow: none !important;
}

#navigator-toolbox #pageActionButton {
    display: none;
}

#navigator-toolbox #pageActionSeparator {
    display: none;
}

#fullscr-toggler {
    height: 0 !important;
}

#navigator-toolbox .urlbar-history-dropmarker {
    display: none;
}

#navigator-toolbox #tracking-protection-icon-container {
    padding-right: 0 !important;
    border: none !important;
    display: none !important;
}

#navigator-toolbox .tab-close-button, #navigator-toolbox #tabs-newtab-button {
    display: none;
}

/* Remove forward and back buttons */
#back-button {
   display: none;
}
#forward-button {
   display: none;
}

/* Remove go button from url bar */
.urlbar-go-button {
  display: none !important;
}


/* Makes the address bar and search bar borderless */
#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}

/* Hide the reload button by default */
#reload-button {
  transition: 300ms !important; /* Animate icon hiding */
  opacity: 0 !important; /* Make icon transparent */
  -moz-margin-end: -26px !important; /* Hide icon by offsetting it */
}

/* Show the reload button on navbar hover or page load (animation/stop button) */
#nav-bar:hover #reload-button,
#stop-reload-button[animate] > #reload-button:not([displaystop]) {
  transition: 300ms !important; /* Animate icon showing */
  opacity: 1 !important;  /* Make the icon opaque */
  -moz-margin-end: initial !important; /* Use initial margins to show the icon */
  -moz-padding-right: 10px !important;
}
